.login-screen{
  max-width: 500px;
  margin: 50px auto 0 auto;
  background-color:#D7BDE2;
}
.login-form { 
  display: flex;
  flex-direction: column;
}
.people-finder-login-btn{
  color: white;
  background-color: #512E5F;
}