.application-title{
    text-align: center;
    color: black;
    max-height: 65px;
    margin: 10px;
}
.property{
    background-color: #512E5F;
    color: cornsilk;
    width: auto;
}
.details{
    background-color: blueviolet;
    color: white; 
    width: 100%;
}
tr{
    width: 100%;
}