<div class="application-title">
  <h3>
    {{ title }}
  </h3>
</div>
<div>
  <table>
    <tr>
      <td class="property">Employee ID </td>
      <td class="details">{{data.empid}}</td>
    </tr>
    <tr>
      <td class="property">Name </td>
      <td class="details">{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
    </tr>
    <tr>
      <td class="property">DOB </td>
      <td class="details">{{data.dob}}</td>
    </tr>
    <tr>
      <td class="property">Email </td>
      <td class="details">{{data.email}}</td>
    </tr>
    <tr>
      <td class="property">Phone </td>
      <td class="details">{{data.phone}}</td>
    </tr>
    <tr>
      <td class="property">Designation </td>
      <td class="details">{{data.designation}}</td>
    </tr>
    <tr>
      <td class="property">Project manager </td>
      <td class="details">{{data.manager}}</td>
    </tr>
    <tr>
      <td class="property">Project </td>
      <td class="details">{{data.project}}</td>
    </tr>
    <tr>
      <td class="property">Location </td>
      <td class="details">{{data.location}}</td>
    </tr>
    <tr>
      <td class="property">Account </td>
      <td class="details">{{data.account}}</td>
    </tr>
  </table>
</div>