
  .people-finder-list-card{
    margin: 10px;
    height: auto;
    background-color:#D7BDE2;
  }
  .employee-list-item-area{
    background-color: blueviolet;
    border-left: 10px solid darkviolet;
    color: white;
    padding: 10px 10px;
    margin: 2px;
  }
  .employee-list-area{
    padding: 0px;
  }
  .detail-left{
    text-align: left;
  }
  .detail-right{
    text-align: right;
  }
  h3{
    color: brown;
  }